{% extends "post/layout.html" %}{% block content %}
<style>
  .main_content {
    margin-left: 10%;
  }
  .posted_user_name {
    display: flex;
  }
  .posted_time {
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(189, 188, 188);
  }
  .posted_image img {
    height: 500px;
    width: 500px;
    margin-top: 10px;
  }
  .posted_post {
    width: 500px;

    border-bottom: 1px solid black;
    margin-bottom: 40px;
  }
  .posted_user_image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .posted_username {
    margin-top: 5px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
  }

  .caption {
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
  }
</style>
<div class="main_content">
  {% for post in posts %}
  <div class="posted_post">
    <div class="posted_user_name">
      <a href="{% url 'profile' post.user.id %}"
        ><div style="cursor: pointer" class="posted_user_image">
          <img src="{{ post.profile.profile_img.url }}" /></div
      ></a>
      <a
        style="text-decoration: none; color: black"
        href="{% url 'profile' post.user.id %}"
        ><div class="posted_username">{{ post.user.username }}</div></a
      >
      <div class="posted_time">{{ post.posted_date }}</div>
    </div>
    <div class="posted_image">
      <a href="{% url 'single-post' post.id %}"
        ><img src="{{ post.post_image }}"
      /></a>
    </div>
    <div
      style="display: flex; padding: 10px 0; font-size: 25px"
      class="likes_icon"
    >
      <div class="like_icon" id="liked{{post.id}}">
        {% if post.liked %}<i
          onclick="like_check_using_ajax({{post.id}})"
          class="fa-solid fa-heart"
          style="color: #ff0000; cursor: pointer"
        ></i
        >{% else %}<i
          onclick="like_check_using_ajax({{post.id}})"
          class="fa-regular fa-heart"
          style="cursor: pointer"
        ></i
        >{% endif %}
      </div>
      <div class="like_icon" style="margin-left: 20px">
        <a
          style="text-decoration: none; color: black"
          href="{% url 'single-post' post.id %}"
          ><i class="fa-regular fa-comment"></i
        ></a>
      </div>
    </div>
    <div class="likes_no">
      <div
        style="font-weight: bold; margin-top: 5px"
        class="like_count"
        id="like{{post.id}}"
      >
        {{post.like_count}} likes
      </div>
    </div>
    <div class="caption">
      <div class="text_comment">
        <b>{{ post.user.username }}</b>
        {{post.caption}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script>
  function showPost() {
    post = document.querySelector(".post_link");
    data = document.querySelector(".text_input_comment").value;
    console.log(data);
    if (data.length > 0) {
      post.style.display = "inline";
    } else {
      post.style.display = "none";
    }
  }
  function like_check_using_ajax(pk) {
    var q = document.querySelector(`#liked${pk}`);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        data = JSON.parse(this.responseText);
        q.innerHTML = "";

        if (data[0].liked) {
          tag = `<i
          onclick="like_check_using_ajax(${pk})"
          class="fa-solid fa-heart"
          style="color: #ff0000; cursor: pointer"
        ></i
        >`;
        } else {
          tag = `<i
          onclick="like_check_using_ajax(${pk})"
          class="fa-regular fa-heart" style = "cursor: pointer"
        ></i
        >`;
        }
        q.innerHTML = tag;
        document.querySelector(`#like${pk}`).innerHTML = "";
        document.querySelector(
          `#like${pk}`
        ).innerHTML = `${data[0].count} likes`;
      }
    };
    xmlhttp.open("GET", "http://127.0.0.1:8000/home/like/" + pk, true);
    xmlhttp.send();
  }
</script>
{% endblock %}
