{% extends "post/layout.html" %} {% block content %}
<style>
  .post {
    width: 100%;
    border: 1px solid rgb(189, 188, 188);
    height: 450px;
  }
  .post_image {
    float: left;
    width: 65%;
  }
  .post_image img {
    height: 450px;
    width: 100%;
  }
  .name {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(189, 188, 188);
  }
  .username {
    margin-left: 10px;
    font-weight: bold;
  }
  .comments {
    height: 250px;
    width: 100%;
    border-bottom: 1px solid rgb(189, 188, 188);
  }
  .like_icon {
    font-size: 22px;
  }
  .likes_no {
    display: flex;
  }
  .likes_no img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .post_time {
    color: rgb(112, 112, 112);
    font-size: 15px;
  }
  .post_comment {
    display: flex;
    margin-top: 10px;
  }
  .post_comment img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .post_comment input {
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    border: 0;
  }
  .post_comment input:focus {
    outline: none;
  }
  .caption {
    display: flex;
    padding-top: 10px;
  }
  .image_user_profile img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .text_comment {
    width: fit-content;
    margin-left: 10px;
  }
</style>
<div class="post">
  <div class="post_image"><img src="{{post.post_image.url}}" /></div>
  <div class="post_detail">
    <div class="name">
      <div class="username">{{ post.user.username }}</div>
      <div class="more_option"><i class="fa-solid fa-ellipsis"></i></div>
    </div>
    <div class="comments">
      <div
        style="overflow-y: auto; height: 250px"
        class="comment_section"
        id="comment_data_post"
      >
        <div class="caption">
          <div class="image_user_profile">
            <img src="{{ profile_post.profile_img.url }}" />
          </div>
          <div class="text_comment">
            <b>{{ post.user.username }}</b><br />
            {{post.caption}}
          </div>
        </div>
        {% for comment in comments %}
        <div style="margin: 10px 0px" class="caption">
          <div class="image_user_profile">
            <img src="{{ comment.profile.profile_img.url }}" />
          </div>
          <div class="text_comment">
            <b>{{ comment.user.username }}</b><br />
            {{ comment.comment }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="more_post_detail">
      <div style="display: flex; padding: 10px 0" class="likes_icon">
        <div class="like_icon" id="liked{{post.id}}">
          {% if liked %}<i
            onclick="like_check_using_ajax({{post.id}})"
            class="fa-solid fa-heart"
            style="color: #ff0000; cursor: pointer"
          ></i
          >{% else %}<i
            onclick="like_check_using_ajax({{post.id}})"
            class="fa-regular fa-heart"
            style="cursor: pointer"
          ></i
          >{% endif %}
        </div>
        <div class="like_icon" style="margin-left: 20px">
          <i class="fa-regular fa-comment"></i>
        </div>
      </div>
      <div class="likes_no">
        <div
          style="margin-left: 5px; font-weight: bold; margin-top: 5px"
          class="like_count"
          id="like{{post.id}}"
        >
          {{count}} likes
        </div>
      </div>
      <div class="post_time">{{ post.posted_date }}</div>
      <div class="post_comment">
        <div class="comment_post_image">
          <img src="{{logged_profile.profile_img.url}}" />
        </div>
        <div class="input_comment">
          <input
            onkeyup="showPost()"
            class="text_input_comment"
            name="comment"
            type="text"
            placeholder="Add comment"
          />
          <button
            class="post_link"
            style="
              color: blue;
              text-decoration: none;
              font-size: 15px;
              display: none;
              border: none;
              background: white;
            "
          >
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showPost() {
    post = document.querySelector(".post_link");
    data = document.querySelector(".text_input_comment").value;
    if (data.length > 0) {
      post.style.display = "inline";
    } else {
      post.style.display = "none";
    }
  }
  function like_check_using_ajax(pk) {
    var q = document.querySelector(`#liked${pk}`);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        data = JSON.parse(this.responseText);
        q.innerHTML = "";

        if (data[0].liked) {
          tag = `<i
          onclick="like_check_using_ajax(${pk})"
          class="fa-solid fa-heart"
          style="color: #ff0000; cursor: pointer"
        ></i
        >`;
        } else {
          tag = `<i
          onclick="like_check_using_ajax(${pk})"
          class="fa-regular fa-heart" style = "cursor: pointer"
        ></i
        >`;
        }
        q.innerHTML = tag;
        document.querySelector(`#like${pk}`).innerHTML = "";
        document.querySelector(
          `#like${pk}`
        ).innerHTML = `${data[0].count} likes`;
      }
    };
    xmlhttp.open("GET", "http://127.0.0.1:8000/home/like/" + pk, true);
    xmlhttp.send();
  }

  //Its real time comment
  const postId = "{{post.id}}";

  const commentSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/comment/" + postId + "/"
  );

  commentSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    maindiv = document.querySelector("#comment_data_post");
    maindiv.innerHTML =
      maindiv.innerHTML +
      `<div style="margin: 10px 0px" class="caption">
      <div class="image_user_profile">
        <img src="${data.profile}" />
      </div>
      <div class="text_comment">
        <b>${data.user}</b><br />
        ${data.comment}
      </div>
    </div>`;
  };

  commentSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector(".text_input_comment").focus();

  document.querySelector(".post_link").onclick = function (e) {
    const messageInputDom = document.querySelector(".text_input_comment");
    const comment = messageInputDom.value;
    commentSocket.send(
      JSON.stringify({
        comment: comment,
        user: "{{user.id}}",
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock %}
